@import "/styles/themes";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &-primary {
    background-color: getDark(primary);
    color: getDark(text);
    border: 5px solid getDark(secondary);

    span {
      color: getDark(text);
    }
  }

  &-secondary {
    background-color: transparent;
    border: 5px solid getDark(secondary);

    span {
      color: getDark(secondary);
    }

    &:hover {
      background-color: getDark(secondary);

      span {
        color: getDark(text);
      }
      
      svg > * {
        fill: #fff;
      }
    }
  }

  &-link {
    width: 11.25rem;
    text-decoration: none;
  }

  span {
    font-size: 1rem;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    margin-right: 0.5rem;
  }
}
