@import "/styles/themes";
@import "/styles/breakpoints";

.base {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 1rem 0;

  &-noHeadlines {
    justify-content: center;
  }

  @include responsive(md) {
    min-height: 85vh;
  }

  @include responsive(xl) {
    min-height: 75vh;
  }

  &__main {
    display: grid;
    width: 95%;
    max-width: 75rem;
    gap: 1.25rem;

    &-sideContent {
      @include responsive(md) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &-centralContent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__headlines {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include responsive(md) {
      margin-bottom: 2rem;
      margin-top: 0;
    }
  }

  &__placeholder {
    display: none;

    @include responsive(sm) {
      display: block;
    }
  }
}
