@import "../../../styles/breakpoints";

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);

  // When menu is displayed on a inner width less than 768px
  &-true {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @include responsive(md) {
    width: auto;
    position: relative;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }

  &__link {
    @include responsive(md) {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    @include responsive(lg) {
      margin-right: 1.5rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
